@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html, body { margin: 0; padding: 0; -webkit-tap-highlight-color: transparent; }

#superContainer { height: 100%; position: relative; -ms-touch-action: none; touch-action: none; }

.fp-section { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.fp-slide { float: left; height: 100%; display: block; }

.fp-slidesContainer { height: 100%; display: block; }

.fp-slides { z-index: 1; height: 100%; overflow: hidden; position: relative; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table { display: table; width: 100%; }

.fp-tableCell { display: table-cell; vertical-align: middle; width: 100%; height: 100%; }

.fp-slidesContainer { float: left; position: relative; }

.fp-controlArrow { position: absolute; z-index: 4; top: 50%; cursor: pointer; width: 0; height: 0; border-style: solid; margin-top: -38px; }
.fp-controlArrow.fp-prev { left: 15px; width: 0; border-width: 38.5px 34px 38.5px 0; border-color: transparent #fff transparent transparent; }
.fp-controlArrow.fp-next { right: 15px; border-width: 38.5px 0 38.5px 34px; border-color: transparent transparent transparent #fff; }

.fp-scrollable { overflow: scroll; }

.fp-easing { -webkit-transition: all 0.7s ease-out; transition: all 0.7s ease-out; }

#fp-nav { position: fixed; z-index: 100; margin-top: -32px; top: 50%; opacity: 1; }
#fp-nav.right { right: 17px; }
#fp-nav.left { left: 17px; }

.fp-slidesNav { position: absolute; z-index: 4; left: 50%; opacity: 1; }
.fp-slidesNav.bottom { bottom: 17px; }
.fp-slidesNav.top { top: 17px; }

#fp-nav ul, .fp-slidesNav ul { margin: 0; padding: 0; }

#fp-nav li { display: block; width: 14px; height: 13px; margin: 7px; position: relative; }

.fp-slidesNav li { display: block; width: 14px; height: 13px; margin: 7px; position: relative; display: inline-block; }

#fp-nav li a, .fp-slidesNav li a { display: block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer; text-decoration: none; }

#fp-nav li .active span, .fp-slidesNav .active span { background: #333; }

#fp-nav span, .fp-slidesNav span { top: 2px; left: 2px; width: 8px; height: 8px; border: 1px solid #000; background: transparent; border-radius: 50%; position: absolute; z-index: 1; }

.fp-tooltip { position: absolute; top: -2px; color: #fff; font-size: 14px; font-family: arial, helvetica, sans-serif; white-space: nowrap; max-width: 220px; }
.fp-tooltip.right { right: 20px; }
.fp-tooltip.left { left: 20px; }

.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

.fancybox-wrap iframe, .fancybox-wrap object { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

.fancybox-nav { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }
.fancybox-nav span { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

.fancybox-tmp { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }

.fancybox-skin { position: relative; background: #f9f9f9; color: #444; text-shadow: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.fancybox-opened { z-index: 8030; }
.fancybox-opened .fancybox-skin { -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer { position: relative; }

.fancybox-inner { position: relative; overflow: hidden; }

.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }

.fancybox-error { color: #444; font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0; padding: 15px; white-space: nowrap; }

.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }

.fancybox-image { max-width: 100%; max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url("../img/fancybox/fancybox_sprite.png"); }

#fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -22px; margin-left: -22px; background-position: 0 -108px; opacity: 0.8; cursor: pointer; z-index: 8060; }
#fancybox-loading div { width: 44px; height: 44px; background: url("../img/fancybox/fancybox_loading.gif") center center no-repeat; }

.fancybox-close { position: absolute; top: -18px; right: -18px; width: 36px; height: 36px; cursor: pointer; z-index: 8040; }

.fancybox-nav { position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; text-decoration: none; background: transparent url("../img/fancybox/blank.gif"); -webkit-tap-highlight-color: transparent; z-index: 8040; }

.fancybox-prev { left: 0; }

.fancybox-next { right: 0; }

.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 34px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden; }

.fancybox-prev span { left: 10px; background-position: 0 -36px; }

.fancybox-next span { right: 10px; background-position: 0 -72px; }

.fancybox-nav:hover span { visibility: visible; }

.fancybox-tmp { position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible !important; }

.fancybox-lock { overflow: hidden !important; width: auto; }
.fancybox-lock body { overflow: hidden !important; }

.fancybox-lock-test { overflow-y: hidden !important; }

.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: url("../img/fancybox/fancybox_overlay.png"); }

.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }

.fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll; }

.fancybox-title { visibility: hidden; font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; position: relative; text-shadow: none; z-index: 8050; }

.fancybox-opened .fancybox-title { visibility: visible; }

.fancybox-title-float-wrap { position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center; }
.fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; padding: 2px 20px; background: transparent; background: rgba(0, 0, 0, 0.8); -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; text-shadow: 0 1px 2px #222; color: #FFF; font-weight: bold; line-height: 24px; white-space: nowrap; }

.fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: #fff; }

.fancybox-title-inside-wrap { padding-top: 10px; }

.fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: #fff; padding: 10px; background: #000; background: rgba(0, 0, 0, 0.8); }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url("../img/fancybox/fancybox_sprite@2x.png"); background-size: 44px 152px; }
  #fancybox-loading div { background-image: url("../img/fancybox/fancybox_loading@2x.gif"); background-size: 24px 24px; } }
@font-face { font-family: SegoeUI; src: url("../fonts/SegoeUI.eot"); src: url("../fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: SegoeUI-Light; src: url("../fonts/SegoeUI-Light.eot"); src: url("../fonts/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: SegoeUI-Bold; src: url("../fonts/SegoeUI-Bold.eot"); src: url("../fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: SegoeUI-BoldItalic; src: url("../fonts/SegoeUI-BoldItalic.eot"); src: url("../fonts/SegoeUI-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-BoldItalic.woff") format("woff"), url("../fonts/SegoeUI-BoldItalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Ubuntu; src: url("../fonts/Ubuntu.eot"); src: url("../fonts/Ubuntu.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu.woff") format("woff"), url("../fonts/Ubuntu.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Ubuntu-Light; src: url("../fonts/Ubuntu-Light.eot"); src: url("../fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Ubuntu-Bold; src: url("../fonts/Ubuntu-Bold.eot"); src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: icons-font; src: url("../fonts/icons-font.eot"); src: url("../fonts/icons-font.eot?#iefix") format("embedded-opentype"), url("../fonts/icons-font.woff") format("woff"), url("../fonts/icons-font.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: PTSans-Regular; src: url("../fonts/PTSans-Regular.eot"); src: url("../fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: PTSans-Bold; src: url("../fonts/PTSans-Bold.eot"); src: url("../fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: Arial, sans-serif; font-size: 16px; line-height: 1.4; color: #58595b; font-family: SegoeUI, sans-serif; }

a { text-decoration: none; color: inherit; }

.out { min-width: 1150px; }

.container { display: table; width: 100%; height: 100%; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.container_first { background-image: url("../img/slide1.jpg"); }
.container_second { background-image: url("../img/slide2.jpg"); }
.container_last { background-image: url("../img/slide3.jpg"); }
.container_last .container__in { position: relative; z-index: 1; padding-bottom: 100px; }
.container_last .container__in:before { content: ""; position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 40%; background: rgba(255, 255, 255, 0.88); }
.container_last .container__in:after { content: ""; position: absolute; z-index: 1; top: 60%; left: 0; right: 0; bottom: 0; background: rgba(62, 62, 62, 0.76); }
.container_last .title { color: #58595b; }
.container_last .lead-text { color: #58595b; max-width: 850px; }
.container_last .content { display: block; }

.container__in { display: table-cell; width: 100%; height: 100%; padding-top: 85px; vertical-align: middle; text-align: center; }

.content { display: inline-block; position: relative; z-index: 2; }

.l-content { width: 1100px; margin: auto; }

.l-tree-col { *zoom: 1; }
.l-tree-col:after { content: " "; display: table; clear: both; }
.l-tree-col .row { *zoom: 1; margin-top: 40px; }
.l-tree-col .row:after { content: " "; display: table; clear: both; }
.l-tree-col .row:first-child { margin-top: 0; }
.l-tree-col .col { float: left; width: 33.33%; box-sizing: border-box; padding: 0 20px; }

.l-center-contacts { width: 840px; margin: 0 auto; }

.l-two-col { *zoom: 1; }
.l-two-col:after { content: " "; display: table; clear: both; }
.l-two-col .col { box-sizing: border-box; width: 50%; float: left; padding: 0 10px; }

.btn { display: inline-block; position: relative; z-index: 1; height: 33px; padding: 0 15px; font-family: Ubuntu-Light, sans-serif; font-size: 13px; line-height: 33px; color: #00853f; border: 1px solid #00853f; border-radius: 4px; overflow: hidden; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn span { position: relative; z-index: 2; }
.btn:hover { background: #00853f; color: #FFF; }
.btn_filled { height: 48px; min-width: 250px; line-height: 48px; border: none; font-size: 20px; color: #FFF; background: #3da549; box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5); }
.btn_filled:hover { background: #2A8735; }

.ico { color: inherit; display: inline-block; }
.ico:before, .gallery__sort:after, .tech-about__list li:before { font-family: icons-font; font-style: normal; font-weight: normal; speak: none; text-decoration: inherit; width: 1em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; color: inherit; }
.ico_tel-circle { border: 2px solid #fff; border-radius: 50%; display: inline-block; vertical-align: middle; height: 31px; width: 31px; line-height: 31px; text-align: center; -moz-transition: border-color 0.2s linear; -o-transition: border-color 0.2s linear; -webkit-transition: border-color 0.2s linear; transition: border-color 0.2s linear; }
.ico_tel-circle:before { content: ""; }
.ico_tel:before { content: ""; }
.ico_mail:before { content: ""; position: relative; top: 1px; }
.ico_like:before { content: ""; }
.ico_logo:before { content: ""; }
.ico_calendar:before { content: ""; }
.ico_timer:before { content: ""; }
.ico_dev:before { content: ""; color: #1480c1; }
.ico_support:before { content: ""; color: #25c1f2; }
.ico_settings:before { content: ""; color: #A6267C; }
.ico_advice:before { content: ""; color: #F15B26; }
.ico_analysis:before { content: ""; color: #8dc642; }
.ico_training:before { content: ""; color: #13BBC6; }

.icon-hdd { display: inline-block; background: url('../img/icons-sd2ef1fb286.png') 0 -767px no-repeat; width: 84px; height: 117px; }

.icon-server { display: inline-block; background: url('../img/icons-sd2ef1fb286.png') 0 -2552px no-repeat; width: 162px; height: 92px; }

.icon-cloud { display: inline-block; background: url('../img/icons-sd2ef1fb286.png') 0 0 no-repeat; width: 204px; height: 125px; }

.icon-gamepad { display: inline-block; background: url('../img/icons-sd2ef1fb286.png') 0 -667px no-repeat; width: 159px; height: 90px; }

.icon-communication { background: url("../img/svg/communication.svg") no-repeat 0 0; -moz-background-size: 120px 120px 100%; -webkit-background-size: 120px 120px 100%; background-size: 120px 120px 100%; width: 120px; height: 120px; display: inline-block; }

.icon-openness { background: url("../img/svg/openness.svg") no-repeat 0 0; -moz-background-size: 120px 120px 100%; -webkit-background-size: 120px 120px 100%; background-size: 120px 120px 100%; width: 120px; height: 120px; display: inline-block; }

.icon-quality { background: url("../img/svg/quality.svg") no-repeat 0 0; -moz-background-size: 120px 120px 100%; -webkit-background-size: 120px 120px 100%; background-size: 120px 120px 100%; width: 120px; height: 120px; display: inline-block; }

.title { font-family: Ubuntu-Bold, sans-serif; font-weight: normal; font-size: 21px; }
.title_lead { max-width: 800px; margin: 0 auto; text-align: center; font-size: 78px; line-height: 1; color: #FFF; }
.title_big { font-size: 36px; line-height: 1.3; color: #FFF; }

.lead-text { max-width: 660px; margin: 50px auto; box-sizing: border-box; font-family: SegoeUI, sans-serif; font-size: 22px; line-height: 1.3; color: #FFF; }
.lead-text_has-back { position: relative; padding: 50px 40px 40px; background: rgba(255, 255, 255, 0.9); border-radius: 5px; color: #58595b; }
.lead-text_has-back:after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -25px; width: 0; height: 0; border: 0 solid transparent; border-width: 25px 25px 0 25px; border-top-color: rgba(255, 255, 255, 0.9); }
.lead-text .btn { margin-top: 50px; }

.quote { position: relative; padding: 10px 0 0 46px; max-width: 730px; margin: 0 auto; box-sizing: border-box; text-align: left; font-family: SegoeUI-BoldItalic, sans-serif; font-weight: normal; font-style: normal; font-size: 16px; color: #58595b; }
.quote:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-sd2ef1fb286.png') 0 -2520px no-repeat; width: 24px; height: 22px; }
.quote + .info-text { margin-top: 130px; }

.info-text { font-family: SegoeUI, sans-serif; font-size: 16px; color: #58595b; text-align: center; line-height: 1.4; }
.info-text__arrow { display: block; margin: 17px auto 5px; background: url('../img/icons-sd2ef1fb286.png') 0 -165px no-repeat; width: 950px; height: 13px; }
.info-text a { color: #00853f; text-decoration: underline; }
.info-text a:hover { text-decoration: none; }

.contact-item { display: inline-block; vertical-align: middle; font-family: SegoeUI-Light, sans-serif; font-size: 30px; }
.contact-item .ico { color: #1B5494; margin-right: 5px; }
.contact-item .ico_mail { margin-right: 10px; }

.b-input { display: block; text-align: left; }
.b-input span { display: block; margin-bottom: 7px; font-family: Ubuntu, sans-serif; font-weight: normal; font-size: 14px; line-height: 1; }
.b-input input[type="text"], .b-input textarea { display: block; padding: 0 10px; width: 100%; box-sizing: border-box; background: #FFF; border: 1px solid #CCD1D5; box-shadow: 0 0 1px 0 #CCD1D5; border-radius: 3px; font-size: 16px; line-height: 1.3; font-family: SegoeUI, sans-serif; }
.b-input input[type="text"] { height: 30px; }
.b-input textarea { padding: 5px 10px; }
.b-input + .b-input { margin-top: 19px; }

.header { position: fixed; z-index: 1000; min-width: 1150px; height: 85px; top: 0; left: 0; right: 0; background: #242424; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }

.logo { display: block; float: left; position: relative; width: 20.05208%; max-width: 385px; min-width: 250px; height: 85px; line-height: 85px; text-align: center; overflow: hidden; }
.logo:before { content: ""; position: absolute; z-index: 1; top: 0; right: 38px; bottom: 0; width: 100%; background: #00853f; -moz-transform: skewX(-41.02deg); -ms-transform: skewX(-41.02deg); -webkit-transform: skewX(-41.02deg); transform: skewX(-41.02deg); }
.logo i { display: inline-block; vertical-align: middle; position: relative; z-index: 2; top: -8px; left: -10px; font: 0/0 a; text-shadow: none; color: transparent; background: url("../img/svg/logo.svg") no-repeat 0 0; -moz-background-size: 162px 48px 100%; -webkit-background-size: 162px 48px 100%; background-size: 162px 48px 100%; width: 162px; height: 48px; display: inline-block; }
@media only screen and (max-width: 1500px) { .logo i { left: -25px; } }

.header__nav { float: left; position: relative; padding-left: 83px; }
@media only screen and (max-width: 1600px) { .header__nav { padding-left: 50px; } }

.header__nav-list { font-size: 0; white-space: nowrap; }
.header__nav-list li { display: inline-block; vertical-align: middle; margin-left: 50px; }
@media only screen and (max-width: 1800px) { .header__nav-list li { margin-left: 5px; } }
.header__nav-list li:first-child { margin-left: 0; }
.header__nav-list li.is-active a { color: #FFF; }
.header__nav-list li.is-active a:before { width: 100%; }
.header__nav-list li a { display: block; position: relative; padding: 0 15px; line-height: 85px; color: #878787; font-family: Ubuntu-Light, sans-serif; font-size: 18px; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
@media only screen and (max-width: 1500px) { .header__nav-list li a { font-size: 16px; } }
.header__nav-list li a:hover { color: #FFF; }
.header__nav-list li a:hover:before { width: 100%; }
.header__nav-list li a:before { content: ""; position: absolute; bottom: 0; left: 0; width: 0; height: 5px; background: #00853f; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.header__nav-list li.is-active { color: #FFF; }

.header__right { float: right; padding-right: 30px; line-height: 85px; font-size: 0; }
.header__right .btn { display: inline-block; vertical-align: middle; margin-right: 35px; }
@media only screen and (max-width: 1600px) { .header__right { padding-right: 15px; }
  .header__right .btn { margin-right: 10px; } }
@media only screen and (max-width: 1330px) { .header__right .btn { display: none; } }

.header__tel { display: inline-block; vertical-align: middle; position: relative; color: #FFF; font-family: Ubuntu-Light, sans-serif; font-size: 18px; line-height: 31px; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.header__tel .ico { margin-right: 10px; }
.header__tel:hover { color: #00853f; }
.header__tel:hover .ico { border-color: #00853f; }
@media only screen and (max-width: 1600px) { .header__tel { font-size: 15px; } }

.header__lang { position: absolute; top: 0; left: 0; padding: 0 7px; background: #111; font-size: 0; }
.header__lang:before { content: ""; position: absolute; z-index: 1; top: 0; left: -11px; bottom: 0; right: -11px; background: #111; -moz-transform: skewX(-41.02deg); -ms-transform: skewX(-41.02deg); -webkit-transform: skewX(-41.02deg); transform: skewX(-41.02deg); }
.header__lang a { display: inline-block; position: relative; z-index: 2; padding: 0 6px; color: #494949; font-family: SegoeUI, sans-serif; font-size: 11px; line-height: 23px; }
.header__lang a.is-active { color: #747474; }

.footer { position: absolute; z-index: 10; bottom: 0; left: 0; right: 0; padding: 25px 70px; background: #242424; font-family: SegoeUI, sans-serif; color: #818081; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
.footer.is-static { position: static; }

.footer__right { float: right; line-height: 45px; }

.footer__copy { display: inline-block; vertical-align: bottom; font-size: 15px; line-height: 1.1; }

.footer__left { float: left; }
.footer__left .ico { font-size: 30px; }

.footer__center { text-align: center; }

.contacts { display: inline-block; font-family: SegoeUI, sans-serif; color: #818081; font-size: 12px; text-align: left; line-height: 1; }
.contacts__item { display: inline-block; vertical-align: middle; padding: 10px 40px 4px; border-left: 1px solid rgba(255, 255, 255, 0.1); }
.contacts__item a { -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.contacts__item a:hover { color: #3da549; }
.contacts__item .ico { margin-right: 5px; }
.contacts__label { display: block; margin-bottom: 13px; font-family: SegoeUI-Light, sans-serif; font-size: 10px; line-height: 1; text-transform: uppercase; color: #3da549; }

.gallery__header { position: relative; padding: 65px 0 0; background-image: url("../img/slide3.jpg"); background-position: 50% 93%; color: #BFBFBF; }
.gallery__header:before { content: ""; position: absolute; z-index: 0; top: 0; left: 0; right: 0; bottom: 0; background: rgba(62, 62, 62, 0.76); }
.gallery__header-in { position: relative; z-index: 2; }
.gallery__promo-text { max-width: 770px; margin: 20px auto 30px; }
.gallery__sort { display: inline-block; margin: 20px; }
.gallery__sort:hover { color: #fff; }
.gallery__sort:after { display: inline-block; vertical-align: middle; margin-left: 5px; content: ""; }
.gallery__sort-more { padding: 25px 0; background: rgba(0, 0, 0, 0.28); }
.gallery__sort-more .btn { border-color: transparent; margin: 0 10px; }
.gallery__sort-more .btn.is-active { background: #00853f; color: #FFF; }
.gallery__sort-more .btn:hover { color: #FFF; }

.carousel-wrap { overflow: hidden; margin: 50px 0; }

.carousel { width: 100%; white-space: nowrap; text-align: center; }

.carousel__item { display: inline-block; vertical-align: middle; width: 240px; height: 185px; overflow: hidden; }
.carousel__item img { display: block; width: 100%; max-width: 100%; }

.info { margin-top: 70px; *zoom: 1; }
.info:after { content: " "; display: table; clear: both; }
.info__arrow { position: relative; display: block; width: 100%; height: 2px; }
.info__arrow:before, .info__arrow:after { content: ""; position: absolute; top: 0; height: 2px; background: rgba(61, 165, 73, 0.7); }
.info__arrow:before { left: 0; right: 50%; margin-right: 20px; }
.info__arrow:after { left: 50%; right: 0; margin-left: 20px; }
.info__arrow i { display: block; position: absolute; bottom: 0; left: 50%; width: 42px; height: 18px; margin-left: -21px; }
.info__arrow i:before, .info__arrow i:after { content: ""; position: absolute; bottom: 0; width: 27px; height: 2px; background: rgba(61, 165, 73, 0.7); }
.info__arrow i:before { left: 0; -moz-transform: rotate(-40deg); -ms-transform: rotate(-40deg); -webkit-transform: rotate(-40deg); transform: rotate(-40deg); -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0; transform-origin: 0 0; }
.info__arrow i:after { right: 0; -moz-transform: rotate(40deg); -ms-transform: rotate(40deg); -webkit-transform: rotate(40deg); transform: rotate(40deg); -webkit-transform-origin: 100% 0; -moz-transform-origin: 100% 0; -ms-transform-origin: 100% 0; -o-transform-origin: 100% 0; transform-origin: 100% 0; }
.info__left { float: left; width: 50%; padding-right: 30px; text-align: right; box-sizing: border-box; }
.info__right { float: right; width: 50%; padding-left: 30px; text-align: left; box-sizing: border-box; }
.info__item { display: inline-block; vertical-align: middle; margin-top: 20px; color: #3da549; font-size: 17px; text-align: left; line-height: 1.2; *zoom: 1; }
.info__item:after { content: " "; display: table; clear: both; }
.info__item .ico { float: left; font-size: 33px; }
.info__item span { display: block; margin-left: 50px; font-family: SegoeUI, sans-serif; }

.content-wrap { margin-top: 85px; text-align: center; overflow: hidden; }

.toparea { background-image: url("../ img/toparea.png"); -webkit-background-size: cover; -o-background-size: cover; background-size: cover; background-position: 50% 50%; text-align: center; overflow: hidden; }
.toparea__in { position: relative; padding: 94px 0; max-width: 1920px; margin: 0 auto; }
.toparea .lead-text { position: relative; z-index: 2; max-width: 650px; margin: 0 auto; font-size: 30px; line-height: 1.3; }
@media only screen and (max-width: 1500px) { .toparea .lead-text { text-shadow: 0 0 20px #000; } }
.toparea_only-text { padding: 110px 0 140px; background-image: url("../img/toparea2.jpg"); }
.toparea_only-text .lead-text { max-width: none; font-size: 36px; line-height: 1.3; font-family: Ubuntu-Bold, sans-serif; font-weight: normal; text-shadow: none; }

.laptop { position: absolute; z-index: 1; background: url('../img/icons-sd2ef1fb286.png') 0 -2240px no-repeat; width: 461px; height: 270px; left: 7.29167%; bottom: 0; }
@media only screen and (max-width: 1600px) { .laptop { left: -3.33333%; } }

.devices { background: url('../img/icons-sd2ef1fb286.png') 0 -188px no-repeat; width: 642px; height: 469px; position: absolute; z-index: 1; right: -2.60417%; bottom: 0; }
@media only screen and (max-width: 1600px) { .devices { right: -12%; } }

.number { display: block; margin: 0 auto 40px; width: 40px; height: 40px; border-radius: 50%; border: 2px solid #00853f; font-size: 23px; text-align: center; font-family: Ubuntu-Light, sans-serif; line-height: 40px; color: #00853f; }

.bottomarea { margin-top: 70px; padding: 50px 0 95px; background: #d8eddb; text-align: center; }
.bottomarea__text { text-align: center; color: #3da549; font-size: 20px; line-height: 1.35; }
.bottomarea .btn { margin: 50px 0 0; }

.tech-block1, .tech-block2, .tech-block3, .tech-block4, .tech-block5 { position: relative; overflow: hidden; z-index: 1; }

.tech-block1 { padding: 40px 0 0; border: 0px solid #a3cfed; border-width: 0 3px 0 0; }
.tech-block1 .tech { margin-left: 187px; margin-right: 125px; }
.tech-block1 .corner.bottom-left { top: 0; left: 0; height: 162px; width: 200px; }
.tech-block1 .corner.top-left { top: 170px; left: 120px; height: 100px; width: 100px; }

.tech-block2 { padding: 40px 0 100px 0; margin-left: 120px; border: 0px solid #a3cfed; border-width: 0 3px 0 3px; }

.tech-block3 .corner.bottom-right { top: 0; right: 0; height: 151px; width: 130px; }
.tech-block3 .corner.bottom-left { top: 0; left: 120px; height: 90px; width: 30px; }
.tech-block3 .corner.top-right { top: 87px; left: 150px; width: 58px; height: 100%; }

.tech-block4 { padding: 40px 0 50px; border: 0px solid #a3cfed; border-width: 0 0 0 3px; margin-left: 205px; }
.tech-block4 .tech-about { padding-right: 120px; margin-right: 125px; text-align: center; }
.tech-block4 .tech-about:before { left: 36%; }

.tech-block5 { padding-right: 125px; }
.tech-block5 .tech { margin-left: 127px; }
.tech-block5 .tech__text { margin-left: 208px; }
.tech-block5 .icon-gamepad { position: relative; top: -25px; }
.tech-block5 .icon-gamepad:before { content: ""; position: absolute; top: -95px; left: 50%; margin-left: -2px; width: 0; height: 100px; border: 0px solid #a3cfed; border-width: 0 0 0 3px; }
.tech-block5 .tech-about { margin-left: 330px; }

.corner { position: absolute; z-index: 1; width: 50px; height: 50px; box-sizing: border-box; border: 0px solid #a3cfed; }
.corner.bottom-left { border-width: 0 0 3px 3px; border-bottom-left-radius: 20px; }
.corner.top-left { border-width: 3px 0 0 3px; border-top-left-radius: 20px; }
.corner.top-right { border-width: 3px 3px 0 0; border-top-right-radius: 20px; }
.corner.bottom-right { border-width: 0 3px 3px 0; border-bottom-right-radius: 20px; }

.tech { text-align: left; white-space: nowrap; *zoom: 1; }
.tech:after { content: " "; display: table; clear: both; }
.tech__pic { float: left; position: relative; z-index: 2; }
.tech__pic.icon-hdd { position: relative; top: -18px; }
.tech__text { margin-left: 145px; font-size: 16px; line-height: 1.4; white-space: normal; font-family: PTSans-Regular, sans-serif; font-weight: normal; color: #58595b; }
.tech_text-right { text-align: right; margin-right: 125px; }
.tech_text-right .tech__pic { float: right; }
.tech_text-right .tech__pic .icon-server { position: relative; top: -5px; }
.tech_text-right .tech__pic .icon-cloud { position: absolute; z-index: -1; top: -80px; right: -100px; }
.tech_text-right .tech__text { max-width: none; margin-left: 285px; margin-right: 200px; }

.tech-about { *zoom: 1; position: relative; padding: 40px 65px; background: #F2F2F2; text-align: left; font-family: PTSans-Regular, sans-serif; font-weight: normal; font-size: 15px; line-height: 1.4; color: #58595b; }
.tech-about:after { content: " "; display: table; clear: both; }
.tech-about:before { content: ""; position: absolute; z-index: 2; bottom: 100%; left: 41%; width: 0; height: 0; border: 0 solid transparent; border-width: 0 23px 17px 23px; border-bottom-color: #F2F2F2; }
.tech-about__left { float: left; width: 130px; font-size: 13px; line-height: 1.42; font-family: PTSans-Bold, sans-serif; font-weight: bold; text-transform: uppercase; color: #3da549; }
.tech-about__list { margin-left: 150px; }
.tech-about__list li { position: relative; padding-left: 30px; margin-top: 30px; }
.tech-about__list li:first-child { margin-top: 0; }
.tech-about__list li:before { position: absolute; top: 1px; left: 0; content: ""; color: #3da549; }

.services-block1 { position: relative; padding: 80px 0 100px; background: #FFF; }
.services-block1:after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -33px; width: 0; height: 0; border: 0px solid transparent; border-width: 22px 33px 0 33px; border-top-color: #fff; }

.services-block2 { padding: 65px 0 75px; background: #f1f1f1; }
.services-block2 .title { margin-bottom: 55px; }

.services-block3 { padding: 80px 0 90px; }

.service-item { *zoom: 1; text-align: left; }
.service-item:after { content: " "; display: table; clear: both; }
.service-item__pic { float: left; }
.service-item__text { margin-left: 55px; font-size: 16px; font-family: SegoeUI, sans-serif; line-height: 1.4; color: #666; }
.service-item .ico { font-size: 33px; line-height: 1; }
.service-item .ico_analysis { font-size: 30px; }
.service-item_big { text-align: center; }
.service-item_big .service-item__pic { float: none; }
.service-item_big .service-item__text { margin-left: 0; }
.service-item_big .title { font-size: 16px; text-align: center; margin: 20px 0 15px; }

.contacts-block1 { position: relative; min-height: 720px; box-sizing: border-box; padding: 60px 0 180px; background-image: url("../img/contacts.jpg"); background-position: 50% -50px; background-repeat: no-repeat; background-color: #162a40; color: #BFBFBF; }
.contacts-block1 .title { margin-bottom: 40px; }

.contacts-block2 { position: relative; padding: 55px 100px; background: #e4e4e4; }
.contacts-block2 .title { margin-bottom: 25px; }
.contacts-block2:before, .contacts-block2:after { content: ""; position: absolute; z-index: 2; height: 25px; bottom: 100%; background: #e4e4e4; }
.contacts-block2:before { left: -20px; right: 50%; margin-right: 18px; -moz-transform: skew(55deg); -ms-transform: skew(55deg); -webkit-transform: skew(55deg); transform: skew(55deg); }
.contacts-block2:after { left: 50%; right: -20px; margin-left: 18px; -moz-transform: skew(-55deg); -ms-transform: skew(-55deg); -webkit-transform: skew(-55deg); transform: skew(-55deg); }
.contacts-block2 .col { text-align: center; }

.contacts-block3 { padding: 70px 0 100px; text-align: center; }
.contacts-block3 .title { margin-bottom: 40px; }
.contacts-block3 .btn { min-width: 175px; font-size: 16px; margin-top: 30px; }

.location { position: absolute; width: 26px; height: 26px; line-height: 26px; border: 2px solid #00853f; border-radius: 50%; text-align: center; font-size: 0; -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }
.location:before { content: ""; display: inline-block; vertical-align: middle; width: 10px; height: 10px; background: #00853f; border-radius: 50%; }
.location:after { display: none; content: ""; position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; padding: 10px; border: 1px solid #00853f; border-radius: 50%; -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }
.location span { position: absolute; top: 50%; left: 100%; margin-left: 10px; color: #00853f; font-size: 12px; line-height: 1; font-family: SegoeUI-Bold, sans-serif; font-weight: normal; text-transform: uppercase; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.location.is-active:after { display: block; }
.location.is-active span { margin-left: 21px; }
.location.is-active .location-box { display: block; }
.location_moscow { top: 320px; left: 49.91%; }
.location_london { top: 356px; left: 36.47%; }

.location-box { display: none; position: absolute; width: 430px; top: 100%; left: 50%; margin-top: 67px; box-sizing: border-box; border: 8px solid #00853f; border-top-color: transparent; padding: 25px 60px 30px; font-size: 16px; line-height: 1.3; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.location-box:before, .location-box:after { content: ""; position: absolute; top: -8px; height: 8px; background: #00853f; }
.location-box:before { left: -8px; right: 50%; margin-right: 22px; }
.location-box:after { right: -8px; left: 50%; margin-left: 22px; }
.location-box__arrow { position: absolute; left: 50%; top: -8px; height: 8px; width: 44px; margin-left: -22px; }
.location-box__arrow:before, .location-box__arrow:after { content: ""; position: absolute; bottom: 0; width: 32px; height: 8px; background: #00853f; }
.location-box__arrow:before { left: 0; -moz-transform: rotate(-35deg); -ms-transform: rotate(-35deg); -webkit-transform: rotate(-35deg); transform: rotate(-35deg); -moz-transform-origin: 0 100%; -ms-transform-origin: 0 100%; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }
.location-box__arrow:after { right: 0; -moz-transform: rotate(35deg); -ms-transform: rotate(35deg); -webkit-transform: rotate(35deg); transform: rotate(35deg); -moz-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; -webkit-transform-origin: 100% 100%; transform-origin: 100% 100%; }
