//------------------------------------------------------------------------------
//
//    #blocks
//
//------------------------------------------------------------------------------

.btn
	display: inline-block
	position: relative
	z-index: 1
	height: 33px
	padding: 0 15px
	+ubuntu-l
	font-size: 13px
	line-height: 33px
	color: $green
	border: 1px solid $green
	border-radius: 4px
	overflow: hidden
	+tr-all
	span
		position: relative
		z-index: 2
	// &:before
	// 	content: ""
	// 	position: absolute
	// 	z-index: 1
	// 	top: 0
	// 	left: 0
	// 	right: 100%
	// 	bottom: 0
	// 	background: $green
	// 	opacity: 0
	// 	+tr-all
	// &:hover
	// 	color: #fff
	// 	&:before
	// 		right: 0
	// 		opacity: 1
	&:hover
		background: $green
		color: #FFF
	&_filled
		height: 48px
		min-width: 250px
		line-height: 48px
		border: none
		font-size: 20px
		color: #FFF
		background: $green2
		box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.5)
		&:hover
			background: #2A8735

.ico
	color: inherit
	display: inline-block
	&:before
		+fontello
		text-decoration: inherit
		width: 1em
		// margin-right: 0.2em
		// margin-left: 0.2em
		text-align: center
		font-variant: normal
		text-transform: none
		line-height: 1em
		color: inherit
		// +tr-color

	&_tel-circle
		border: 2px solid #fff
		border-radius: 50%
		padding: 4px 6px
		display: inline
		+transition(border-color 0.2s linear)
		&:before
			content: '\e801'
	&_tel
		&:before
			content: '\e801'
	&_mail
		&:before
			content: '\e802'
	&_like
		&:before
			content: '\e808'
	&_logo
		&:before
			content: '\e800'

.title
	+ubuntu-b
	&_lead
		max-width: 800px
		margin: 0 auto
		text-align: center
		font-size: 78px
		line-height: 1
		color: #FFF

.lead-text
	max-width: 660px
	margin: 50px auto
	box-sizing: border-box
	+segoe
	font-size: 22px
	line-height: 1.3
	color: #FFF
	&_has-back
		position: relative
		padding: 50px 40px 40px
		background: rgba(255,255,255,0.9)
		border-radius: 5px
		color: #58595B
		&:after
			content: ""
			position: absolute
			top: 100%
			left: 50%
			margin-left: -25px
			width: 0
			height: 0
			border: 0 solid transparent
			border-width: 25px 25px 0 25px
			border-top-color: rgba(255,255,255,0.9)
	.btn
		margin-top: 50px





//------------------------------------------------------------------------------
//
//    #header
//
//------------------------------------------------------------------------------

.header
	position: fixed
	z-index: 1000
	top: 0
	left: 0
	right: 0
	background: $header
	+clr

.logo
	display: block
	float: left
	position: relative
	width: percentage(385/1920)
	max-width: 385px
	min-width: 250px
	height: 85px
	line-height: 85px
	text-align: center
	overflow: hidden
	&:before
		content: ""
		position: absolute
		z-index: 1
		top: 0
		right: 38px
		bottom: 0
		width: 100%
		background: $green
		+skew
	i
		display: inline-block
		vertical-align: middle
		position: relative
		z-index: 2
		top: -8px
		left: -10px
		+hide-text
		+svg(logo, 162, 48)
		+r(1500)
			left: -25px

.header__nav
	float: left
	position: relative
	padding-left: 83px
	+r(1600)
		padding-left: 50px

.header__nav-list
	font-size: 0
	li
		display: inline-block
		vertical-align: middle
		margin-left: 50px
		+r(1800)
			margin-left: 10px
		&:first-child
			margin-left: 0
		&.is-active
			a
				color: #FFF
				&:before
					width: 100%
		a
			display: block
			position: relative
			padding: 0 15px
			line-height: 85px
			color: #878787
			+ubuntu-l
			font-size: 18px
			+tr-color
			+r(1500)
				font-size: 16px
			&:hover
				color: #FFF
				&:before
					width: 100%
			&:before
				content: ""
				position: absolute
				bottom: 0
				left: 0
				width: 0
				height: 5px
				background: $green
				+tr-all
		&.is-active
			color: #FFF

.header__right
	float: right
	padding-right: 30px
	line-height: 85px
	font-size: 0
	.btn
		display: inline-block
		vertical-align: middle
		margin-right: 35px

	+r(1600)
		padding-right: 15px
		.btn
			margin-right: 15px
	+r(1350)
		.btn
			display: none

.header__tel
	display: inline-block
	vertical-align: middle
	position: relative
	color: #FFF
	+ubuntu-l
	font-size: 18px
	+tr-color
	.ico
		margin-right: 10px
	&:hover
		color: $green
		.ico
			border-color: $green
	+r(1600)
		font-size: 15px

.header__lang
	position: absolute
	top: 0
	left: 0
	padding: 0 7px
	background: #111
	font-size: 0
	&:before
		content: ""
		position: absolute
		z-index: 1
		top: 0
		left: -11px
		bottom: 0
		right: -11px
		background: #111
		+skew
	a
		display: inline-block
		position: relative
		z-index: 2
		padding:  0 6px
		color: #494949
		+segoe
		font-size: 11px
		line-height: 23px
		&.is-active
			color: #747474





//------------------------------------------------------------------------------
//
//    #footer
//
//------------------------------------------------------------------------------

.footer
	position: absolute
	z-index: 10
	bottom: 0
	left: 0
	right: 0
	padding: 25px 70px
	background: $header
	+segoe
	color: #818081
	+clr

.footer__right
	float: right
	line-height: 45px

.footer__copy
	display: inline-block
	vertical-align: bottom
	font-size: 15px
	line-height: 1.1

.footer__left
	float: left
	.ico
		font-size: 30px


.footer__center
	text-align: center

.contacts
	display: inline-block
	+segoe
	color: #818081
	font-size: 12px
	text-align: left
	line-height: 1
	&__item
		display: inline-block
		vertical-align: middle
		padding: 10px 40px 4px
		border-left: 1px solid rgba(255,255,255,0.1)
		a
			+tr-all
			&:hover
				color: $green2
		.ico
			margin-right: 5px
	&__label
		display: block
		margin-bottom: 13px
		+segoe-l
		font-size: 10px
		line-height: 1
		text-transform: uppercase
		color: $green2







//------------------------------------------------------------------------------
//
//    #other
//
//------------------------------------------------------------------------------

.carousel-wrap
	overflow: hidden
	margin: 50px 0

.carousel
	width: 100%
	// margin-right: -240px
	white-space: nowrap
	text-align: center

.carousel__item
	display: inline-block
	vertical-align: middle
	width: 240px
	height: 185px
	overflow: hidden
	img
		display: block
		width: 100%
		max-width: 100%


